<hr>
<h1>ASK TO THE STUPID COACH</h1>
</hr>

<!-- action_ answer significa che sto indirizzato l'azione alla pagina answer
 -->
 <form action="/answer">
  <input type="text" name="domanda">
  <input type="submit" value="Ask!">
</form>

<!-- tyep= qua dentro l utente mette dentro la domanda. tale domanda è associata ad una variabile che è "domanda" -->

<%= link_to "Home", root_path %>

